<div class="header">
  <p><span>Social</span>Network</p>
  <input type="text" placeholder="Find...">
  <button class="upload">Upload</button>
  <div class="head2">
    <button class="user"></button>
    <div>
      Fina 
      <br> 
      Rahmaniar
      <span class="badge">3</span>
    </div>
  </div>
</div>

<div class="list">
  <span>Videos /</span>
  <span>People /</span>
  <span>Documents /</span>
  <span>Events /</span>
  <span>Communities /</span>
  <span>Favorites /</span>
  <span>Channels </span>
</div>

<div class="main">
  <div class="main-left">
    <p class="top">Videos</p>
    <div class="main1">
      <div class="text1">
        <img src="assets/content/1.jpg" alt="">
      </div>
      <div class="main3">
        <img src="assets/content/technical.webp" alt="">
        <img src="assets/content/soft-skill.jpg" alt="">
      </div>
    </div>
    <div class="main2">
      <img src="assets/content/management.png" alt="">
      <img src="assets/content/strategy-plan.webp" alt="">
      <div class="box">
        <i class="fas fa-arrow-circle-up"></i>
        <p>Upload <br> Your Own Video</p>
      </div>
    </div>
  </div>

  <div class="main1-right">
    <p class="title">Activity </p>
    <div class="act-1" *ngFor="let image of content;let i=index">
      <div class="rect">
      </div>
      <img src="{{content.images}}" alt="">
      <p> by </p>
    </div>
  </div>
</div>

<div class="main">
  <div class="main-left">
    <p class="top">People</p>
    <div class="main1">
      <div class="text1">
        <img src="assets/content/people1.jpg" alt="">
      </div>
      <div class="main3">
        <img src="assets/content/jack-ma.jpg" alt="">
        <img src="assets/content/gates.jpeg" alt="">
      </div>
    </div>
    <div class="main2">
      <img src="assets/content/nadiem.jpg" alt="">
      <img src="assets/content/stevejobs.jpg" alt="">
      <div class="box">
        <i class="fas fa-record-vinyl"></i>
        <p>Show <br> Your Work</p>
      </div>
    </div>
  </div>

  <div class="main2-right">
    <p class="title">Channels</p>
    <div class="ch-1">
      <div class="hov" *ngFor="let image of content;let i=index">
        <img src="{{content.images}}" alt="">
        <span>By</span>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="main-left">
    <p class="top">Documents</p>
    <div class="main1">
      <div class="text1">
        <img src="assets/content/2.webp" alt="">
      </div>
      <div class="main3">
        <img src="assets/content/3.jpg" alt="">
        <img src="assets/content/4.jpg" alt="">
      </div>
    </div>
    <div class="main2">
      <img src="assets/content/5.jpg" alt="">
      <img src="assets/content/6.jpg" alt="">
      <div class="box">
        <i class="fas fa-plus-circle"></i>
        <p>Share <br> Your Document</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">

  <button class="twitter"></button>
  <button class="linkdin"></button>
  <button class="fb"></button>

  <div class="footer1">
    <span>About /</span>
    <span>For Business /</span>
    <span>Suggestions /</span>
    <span>Help & FAQs /</span>
    <span>Contacts /</span>
    <span>Pricing </span>
  </div>

  <div class="footer2">
    Copyright 2013 Companyname inc.
    <br>
    Privacy / Terms
  </div>
</div>
